<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About</h2>
      <p>The highly acclaimed Martinez family, whose roots are 
      in Northern New Mexico, provide an unparalleled musical 
      experience.  The history behind the music and the 
      history behind the musicians themselves are legendary.
      </br>
      <strong>Los Martinez</strong> would like to share the music, the history 
      and the legends with you.
      </br>
      <strong>Los Martinez</strong> are brothers who share a legacy of 
      traditional Southwestern music which dates to the 
      earliest settlement of Northern New Mexico.
      Lorenzo Martinez is recognized by the Smithsonian 
      Institution as a master folk violinist.  Lorenzo is an 
      National Endowment for the Arts Heritage Fellow, having 
      received the prestigious award in 2003 for preserving 
      Traditional New Mexican Hispanic Folk Music.
      Rob Martinez, guitarist and vocalist and historian is 
      also a highly sought after genealogist, lecturer of 
      Southwestern History and published author. 
      </br>
      <strong>Los Martinez</strong>
      will take you on a musical journey which 
      begins with Traditional New Mexico Violin and Guitar 
      music, delights you with regional Southwestern Music 
      from the twentieth century, serenades and excites you 
      with Mariachi  and astounds you with the unexpected.</p>
    </div>
  </div>
</section>
